* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  width: 1000px;
  padding: 60px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  width: 900px;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(4, 57, 4);
    font-weight: bold;
}
